<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
<style> 
        .tab { 
            display: inline-block; 
            margin-right: 20px; 
        } 
        table, th, td {
  border: 1px solid black;
  padding: 5px;
}
   </style>
</head>
<body>

<div style="position: absolute; top: 60px; left: 500px;" class="w3-display-topright">
   <h6 style="color:red"> Product Comparison </h6>
   <table style="width:100%">
  <tr>
    <th>Product Name</th>
    <th>Price</th> 
    <th>Image</th>
  </tr>
  {% for k in productquery %}
  <tr>
    <td>{{k.name}}</td>
    <td>{{k.price}}</td>
    <td><img src="{{ media_url }}{{ k.image }}" width="50" height="50"></td>
  </tr>
  {%endfor%}
</table>

</body>
</html>

         
      
  </div>

</body>
</html>
